VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBiemd3ZmtpdWxreGZjeWNmdWtkIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTIxMTc4NzQsImV4cCI6MjA2NzY5Mzg3NH0.tCG590Fzgnuf5p1kLn-fS5tUO3kt8zLPu2N-cakpdDg
VITE_SUPABASE_URL=https://pbzgwfkiulkxfcycfukd.supabase.co